@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Rubik:400');

$primary-color: #667eea;
$secondary-color: #764ba2;

.shape {
  margin: 0 auto;
  position: relative;
}

.shape-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.random-shape:after {
  font-family: FontAwesome;
  content: '\f005';
}

$circle-size: 100px;
$colors: #ffd700, #fff8dc, #db7093, #c2b7fe, #95a9ff;
$shapes: '\f13b', '\f09b', '\f0c2', '\f1c9', '\f11c', '\f0ac';
$shape-count: 25;

@for $i from 1 through $shape-count {
  $shape-size: random(10);
  $rotation: random(360);
  $speed: 10 + random(10);
  $color-key: random(length($colors));
  $shape-color: nth($colors, $color-key);
  $shape-key: random(length($shapes));
  $shape-type: nth($shapes, $shape-key);
  $shape-top: random(100);
  $shape-x: random(100);
  $text: random(10);

  @keyframes shape-#{$i} {
    0% {
      //transform: translate3d(0, 0, 0) rotate(#{$rotation + 0}deg);
      transform: matrix(1, 0, 0, 1, 0, -120);
    }
    50% {
      //transform: translate3d(0, 0, 0) rotate(#{$rotation + 360}deg);
      transform: matrix(1, 0, 0, 1, 0, -100);
    }
    100% {
      //transform: translate3d(0, 0, 0) rotate(#{$rotation + 0}deg);
      transform: matrix(1, 0, 0, 1, 0, -120);
    }
  }

  .shape-container--#{$i} {
    animation: shape-#{$i} #{$speed}s linear infinite;

    .random-shape:after {
      margin: #{$shape-size}rem;
      color: $shape-color;
      font-size: #{$shape-size * 0.2}rem;
      content: $shape-type;
      top: #{$shape-top}vh;
      left: #{$shape-x}vw;
      position: absolute;
    }
  }
}

.stop-shape {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
